{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_dimensions/competency_tree

    Recursive competency tree display.

    Context variables required:
    * competencies (array) - Array of competency objects with:
        - id, shortname, idnumber, editurl
        - haschildren (bool), children (array - recursive)
        - depth (int) - Nesting level

    @copyright  2026 Anderson Blaine
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "isfirst": true,
        "competencies": [
            {
                "id": 1,
                "shortname": "Competency A",
                "idnumber": "COMP-A",
                "editurl": "/local/dimensions/edit_competency.php?id=1",
                "haschildren": false,
                "children": [],
                "depth": 0
            }
        ]
    }
}}
<div class="local-dimensions-manage-tree-root">
    {{#competencies}}
    <div class="local-dimensions-manage-tree-node" data-region="tree-node" data-depth="{{depth}}">
        <div class="local-dimensions-manage-tree-row" data-region="competency-row" data-competency-id="{{id}}" data-depth="{{depth}}" data-search="{{shortname}} {{idnumber}}" data-shortname="{{shortname}}" data-idnumber="{{idnumber}}" data-taxonomy="{{taxonomy}}" data-path="{{pathlabel}}" data-scale="{{scale}}" data-rule="{{rule}}" data-description="{{descriptionplain}}" data-coursecount="{{coursecount}}" data-edit-url="{{editurl}}" data-add-url="{{addchildurl}}" style="--local-dimensions-manage-indent: {{indent}}px">
            <button type="button" class="local-dimensions-manage-tree-toggle" data-action="toggle" aria-label="{{#str}}show_more, local_dimensions{{/str}}"{{^haschildren}} disabled{{/haschildren}}>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
            <span class="local-dimensions-manage-taxonomy">{{taxonomy}}</span>
            <span class="local-dimensions-manage-tree-name">{{shortname}}</span>
            <span class="local-dimensions-manage-tree-id local-dimensions-manage-mono">{{idnumber}}</span>
            {{#hascourses}}<span class="local-dimensions-manage-chip">{{coursecount}} {{#str}}linkedcourses, tool_lp{{/str}}</span>{{/hascourses}}
            {{#hasrule}}<span class="local-dimensions-manage-chip local-dimensions-manage-chip-rule">{{#str}}competencyrule, tool_lp{{/str}}</span>{{/hasrule}}
            {{#canmanage}}
            <span class="local-dimensions-manage-tree-actions">
                <a class="btn btn-sm btn-secondary local-dimensions-manage-icon-action" href="{{editurl}}" aria-label="{{#str}}edit{{/str}}" title="{{#str}}edit{{/str}}">{{#pix}}t/edit, core, {{#str}}edit{{/str}}{{/pix}}</a>
                <a class="btn btn-sm btn-secondary local-dimensions-manage-icon-action" href="{{addchildurl}}" aria-label="{{#str}}managecompetencies_addchild, local_dimensions{{/str}}" title="{{#str}}managecompetencies_addchild, local_dimensions{{/str}}">{{#pix}}t/add, core, {{#str}}managecompetencies_addchild, local_dimensions{{/str}}{{/pix}}</a>
                <button type="button" class="btn btn-sm btn-secondary local-dimensions-manage-icon-action" data-action="moveparent" data-id="{{id}}" aria-label="{{#str}}movetonewparent, tool_lp{{/str}}" title="{{#str}}movetonewparent, tool_lp{{/str}}">{{#pix}}t/move, core, {{#str}}movetonewparent, tool_lp{{/str}}{{/pix}}</button>
                <button type="button" class="btn btn-sm btn-secondary local-dimensions-manage-icon-action" data-action="relatedcompetencies" data-id="{{id}}" aria-label="{{#str}}addcrossreferencedcompetency, tool_lp{{/str}}" title="{{#str}}addcrossreferencedcompetency, tool_lp{{/str}}">{{#pix}}i/competencies, core, {{#str}}addcrossreferencedcompetency, tool_lp{{/str}}{{/pix}}</button>
                <button type="button" class="btn btn-sm btn-secondary local-dimensions-manage-icon-action" data-action="competencyrules" data-id="{{id}}" aria-label="{{#str}}competencyrule, tool_lp{{/str}}" title="{{#str}}competencyrule, tool_lp{{/str}}">{{#pix}}t/preferences, core, {{#str}}competencyrule, tool_lp{{/str}}{{/pix}}</button>
                <button type="button" class="btn btn-sm btn-secondary local-dimensions-manage-icon-action" data-action="moveup" data-id="{{id}}" aria-label="{{#str}}moveup{{/str}}" title="{{#str}}moveup{{/str}}">{{#pix}}t/up, core, {{#str}}moveup{{/str}}{{/pix}}</button>
                <button type="button" class="btn btn-sm btn-secondary local-dimensions-manage-icon-action" data-action="movedown" data-id="{{id}}" aria-label="{{#str}}movedown{{/str}}" title="{{#str}}movedown{{/str}}">{{#pix}}t/down, core, {{#str}}movedown{{/str}}{{/pix}}</button>
                <button type="button" class="btn btn-sm btn-danger local-dimensions-manage-icon-action" data-action="delete" data-id="{{id}}" data-name="{{shortname}}" aria-label="{{#str}}delete{{/str}}" title="{{#str}}delete{{/str}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</button>
            </span>
            {{/canmanage}}
        </div>
        {{#haschildren}}
        <div class="local-dimensions-manage-tree-children" data-region="tree-children">
            {{> local_dimensions/competency_tree_children}}
        </div>
        {{/haschildren}}
    </div>
    {{/competencies}}
</div>
