{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_dimensions/competency_tree_children

    Recursive partial for competency tree children.

    @copyright  2026 Anderson Blaine
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "children": [
            {
                "id": 2,
                "shortname": "Child competency",
                "idnumber": "COMP-B",
                "editurl": "/local/dimensions/edit_competency.php?id=2",
                "haschildren": false,
                "children": [],
                "depth": 1
            }
        ]
    }
}}
<ul class="list-unstyled">
    {{#children}}
    <li class="py-2 border-bottom d-flex justify-content-between align-items-center">
        <div>
            <span class="mr-2" style="padding-left: calc({{depth}} * 1.5rem);"></span>
            {{#haschildren}}
            <i class="fa fa-folder-o mr-2" aria-hidden="true"></i>
            {{/haschildren}}
            {{^haschildren}}
            <i class="fa fa-file-o mr-2" aria-hidden="true"></i>
            {{/haschildren}}
            <strong>{{shortname}}</strong>
            <span class="text-muted small">({{idnumber}})</span>
        </div>
        <a href="{{editurl}}" class="btn btn-sm btn-outline-primary">
            <i class="fa fa-pencil mr-1" aria-hidden="true"></i>{{#str}}edit{{/str}}
        </a>
        {{#haschildren}}
        {{> local_dimensions/competency_tree_children}}
        {{/haschildren}}
    </li>
    {{/children}}
</ul>
