{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_dimensions/template_card

    Single learning plan template card for the manage_templates cards view.

    Context variables required:
    * id (int)
    * shortname (string)
    * idnumber (string)
    * hasidnumber (bool)
    * descriptionplain (string)
    * hasdescription (bool)
    * hidden (bool)
    * plancount (int)
    * cohortcount (int)
    * hasduedate (bool)
    * duedateformatted (string)
    * editurl (string)
    * cohortsurl (string)
    * plansurl (string)
    * cardimageurl (string|null)
    * hascardimage (bool)
    * bgcolor (string|null)
    * hasbgcolor (bool)
    * textcolor (string|null)
    * hastextcolor (bool)
    * type (string|null)
    * hastype (bool)
    * tag1 (string|null)
    * hastag1 (bool)
    * tag2 (string|null)
    * hastag2 (bool)

    @copyright  2026 Anderson Blaine
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "id": 1,
        "shortname": "Core skills",
        "idnumber": "core-skills",
        "hasidnumber": true,
        "descriptionplain": "Core competency framework for all staff.",
        "hasdescription": true,
        "hidden": false,
        "plancount": 12,
        "cohortcount": 3,
        "hasduedate": true,
        "duedateformatted": "31 Dec 2026",
        "editurl": "/admin/tool/lp/edittemplate.php?id=1",
        "cohortsurl": "/admin/tool/lp/templatecohorts.php?templateid=1",
        "plansurl": "/admin/tool/lp/plans.php?templateid=1",
        "cardimageurl": null,
        "hascardimage": false,
        "bgcolor": "#e8f4fd",
        "hasbgcolor": true,
        "textcolor": "#1a3a5c",
        "hastextcolor": true,
        "type": "Mandatory",
        "hastype": true,
        "tag1": "Leadership",
        "hastag1": true,
        "tag2": "Technical",
        "hastag2": true,
        "hastags": true
    }
}}
<article class="local-dimensions-template-card" data-region="template-row" data-template-id="{{id}}" data-search="{{shortname}} {{idnumber}}" tabindex="0">
    <div class="local-dimensions-template-card-banner{{#hascardimage}} local-dimensions-template-card-banner-image{{/hascardimage}}"
         style="{{#hasbgcolor}}background-color: {{bgcolor}};{{/hasbgcolor}}{{#hascardimage}} background-image: url('{{cardimageurl}}');{{/hascardimage}}{{#hastextcolor}} color: {{textcolor}};{{/hastextcolor}}">
        {{#hidden}}<span class="local-dimensions-manage-chip local-dimensions-template-card-chip-hidden">{{#str}}hidden, tool_lp{{/str}}</span>{{/hidden}}
        {{#hastype}}<span class="local-dimensions-manage-chip local-dimensions-template-card-chip-type">{{type}}</span>{{/hastype}}
    </div>
    <div class="local-dimensions-template-card-body">
        <div class="local-dimensions-template-card-title">
            <h3 class="local-dimensions-template-card-heading">{{shortname}}</h3>
            {{#hasidnumber}}<span class="local-dimensions-manage-mono local-dimensions-template-card-idnumber">{{idnumber}}</span>{{/hasidnumber}}
        </div>
        {{#hasdescription}}<p class="local-dimensions-template-card-desc">{{descriptionplain}}</p>{{/hasdescription}}
        <div class="local-dimensions-template-card-meta">
            <span class="local-dimensions-manage-stat-inline" title="{{#str}}managetemplates_plans, local_dimensions{{/str}}">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i> {{plancount}}
            </span>
            <span class="local-dimensions-manage-stat-inline" title="{{#str}}managetemplates_cohorts, local_dimensions{{/str}}">
                <i class="fa fa-users" aria-hidden="true"></i> {{cohortcount}}
            </span>
            {{#hasduedate}}
            <span class="local-dimensions-manage-stat-inline" title="{{#str}}managetemplates_duedate, local_dimensions{{/str}}">
                <i class="fa fa-calendar" aria-hidden="true"></i> {{duedateformatted}}
            </span>
            {{/hasduedate}}
        </div>
        {{#hastags}}
        <div class="local-dimensions-template-card-tags">
            {{#hastag1}}<span class="local-dimensions-manage-chip local-dimensions-template-card-chip-tag">{{tag1}}</span>{{/hastag1}}
            {{#hastag2}}<span class="local-dimensions-manage-chip local-dimensions-template-card-chip-tag">{{tag2}}</span>{{/hastag2}}
        </div>
        {{/hastags}}
    </div>
    <div class="local-dimensions-template-card-actions">
        <a class="btn btn-sm btn-secondary" href="{{cohortsurl}}">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span>{{#str}}managetemplates_cohorts_action, local_dimensions{{/str}}</span>
        </a>
        <a class="btn btn-sm btn-secondary" href="{{plansurl}}">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <span>{{#str}}managetemplates_plans_action, local_dimensions{{/str}}</span>
        </a>
        <a class="btn btn-sm btn-secondary" href="{{editcompetenciesurl}}">
            <i class="fa fa-list-check" aria-hidden="true"></i>
            <span>{{#str}}managetemplates_editcompetencies_action, local_dimensions{{/str}}</span>
        </a>
        <a class="btn btn-sm btn-primary" href="{{editurl}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span>{{#str}}managetemplates_editplan_action, local_dimensions{{/str}}</span>
        </a>
    </div>
</article>
