{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_dimensions/view_plan

    Main template for the view plan page.
    Renders the hero header and course grid based on context.

    Context variables required:
    * hascompetency (bool) - Whether a competency is selected
    * hascourses (bool) - Whether there are courses to display
    * hero (object) - Hero header data (title, description, hasdescription, bgcolor, hasbgcolor)
    * courses (array) - Array of course objects
    * hascustomcss (bool) - Whether there is custom CSS to inject
    * customcss (string) - Compiled CSS from competency SCSS custom field

    @copyright  2026 Anderson Blaine
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Example context (json):
    {
        "hascompetency": true,
        "hascourses": true,
        "hero": {
            "title": "Communication Skills",
            "description": "<p>Description here</p>",
            "hasdescription": true,
            "bgcolor": "#3498db",
            "hasbgcolor": true
        },
        "courses": []
    }
}}
{{#hascustomcss}}
<textarea hidden id="local-dimensions-customcss-source-viewplan">{{customcss}}</textarea>
{{/hascustomcss}}
<div class="percentagemode-{{percentagemode}}">

{{#hascompetency}}
    {{#hero}}
        {{> local_dimensions/hero_header}}
    {{/hero}}
{{/hascompetency}}

{{#hascourses}}
    {{> local_dimensions/course_grid}}
{{/hascourses}}

{{^hascourses}}
    {{#hascompetency}}
        <div class="alert alert-info mt-4">
            {{#str}}no_courses_linked, local_dimensions{{/str}}
        </div>
    {{/hascompetency}}
{{/hascourses}}

{{^hascompetency}}
    <div class="alert alert-warning mt-4">
        {{#str}}competency_id_missing, local_dimensions{{/str}}
    </div>
{{/hascompetency}}

</div>
